#Cart {
  border: 3px solid black;
  padding: 20px;
  max-width: 70vw;
  width: 100%;
}

#Cart .title {
  text-align: left;
}

.cart-empty {
  margin-top: 90px;
  font-size: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

#CartTable {
  width: 100%;
}

.label-row {
  padding-bottom: 10px;
}

.head-label {
  width: 20%;
  font-size: 24px;
  text-align: center;
}

.head-label.remove {
  width: 10%;
}

.head-label.items {
  width: 25%;
}

.remove-btn {
  font-size: 40px;
  background-color: transparent;
  border: none;
}

.cell.qty input {
  width: 40px;
  font-size: 18px;
  padding-left: 10px;
}

.cell.subtotal {
  font-size: 22px;
  font-weight: 500;
}

#CartItem {
  text-align: left;
}

#CartItem .img-container {
  max-width: 125px;
}

.item-text-box {
  margin-left: 10px;
}

.item-text.name {
  font-size: 24px;
  font-weight: 700;
}

.item-text.category {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.item-text.price {
  font-size: 20px;
}
