.App {
  text-align: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.icon {
  pointer-events: none;
}

.nav-btn,
.info-btn {
  background: transparent;
  border: none;
}

.add-btn {
  padding: 6px;
  border: 1px solid black;
  background-color: aqua;
  font-weight: 600;
}

.hide {
  display: none;
}
