#Homepage {
  margin: auto;
  position: relative;
  margin-top: 190px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#ItemCard {
  max-width: 300px;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 15px;
  margin: 30px;
}

.card-img-container {
  max-width: 250px;
  height: 300px;
  margin: auto;
}

.card-info {
  margin-top: 7px;
}

.info.category {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.info-btn.prod-name {
  font-size: 20px;
  font-weight: 600;
}

.info-btn.prod-name:hover {
  color: blue;
}

.info.price {
  font-size: 20px;
  font-weight: 500;
  color: red;
  margin-bottom: 10px;
}

.buy-container {
  justify-content: center;
}

#cardQty {
  height: 35px;
  width: 55px;
  padding-left: 5px;
  font-size: 18px;
}

.buy-container .add-btn {
  font-size: 18px;
  margin-left: 10px;
}

#ItemInfo {
  border: 3px solid lightgray;
  max-width: 90vw;
  position: fixed;
  left: 6rem;
  top: 13rem;
  bottom: 0.3rem;
  background-color: white;
  z-index: 50;
  overflow: auto;
}

.info-container {
  position: relative;
}

.info-bar {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: 3px solid lightgray;
  padding: 10px;
  font-size: 30px;
  font-weight: 500;
  position: fixed;
  left: 6.2rem;
  background-color: cornflowerblue;
  width: 89vw;
}

.icon.close-x {
  font-size: 28px;
  color: black;
}

.info-body {
  padding: 30px 20px;
}

.info-top {
  justify-content: center;
}

.top-img {
  max-width: 500px;
  margin-top: 40px;
}

.info-title {
  font-size: 30px;
}

.top-text .info.category,
.top-text .info.price {
  font-size: 25px;
  margin-bottom: 20px;
}

.info-bottom {
  text-align: left;
}

.description-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 5px;
}

.description {
  font-size: 20px;
}
